
<TopTriangle />
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <div class="has-text-centered">
                <h1 class="title">
                    Follow me
                    <br />
                </h1>
            </div>

            <div class="columns" style="margin:20px;">
                <div class="column">
                    <a href="#" target="_blank">
                        <img src="images/youtube_logo.png" class="img-social-network" />
                    </a>
                </div>
                <div class="column">
                    <a href="https://github.com/ddgranizo" target="_blank">
                        <img src="images/github_logo.png" class="img-social-network" />
                    </a>
                </div>
                <div class="column">
                    <a href="https://twitter.com/ddgranizo" target="_blank">
                        <img src="images/twitter_logo.png" class="img-social-network" />
                    </a>
                </div>
                <div class="column">
                    <a href="https://www.linkedin.com/in/daniel-diaz-granizo-107119115/" target="_blank">
                        <img src="images/linkedin_logo.png" class="img-social-network" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<BottomTriangle />