<footer class="footer" style="margin-top: 50px">
  <div class="content has-text-centered">
    <p>
       The source code of the page is <a href="https://github.com/ddgranizo/dd-cv" target="_blank">public</a> and under <a href="http://opensource.org/licenses/mit-license.php" target="_blank">MIT</a> license. 
        <a href="mailto:ddgranizo@gmail.com">Contact me</a> for any question or feedback.
    </p>
  </div>
</footer>