<section class="hero is-medium is-primary">
    <div class="hero-body">
        <div class="container">
            <div class="has-text-centered">
                <h1 class="title is-1">
                    Daniel
                    <br />
                    Díaz
                    <br />
                    Granizo
                </h1>
                <h2 class="subtitle">
                    DotNet Developer
                </h2>
            </div>
        </div>
    </div>
</section>