
<SectionTitle Text="My work" />


<ExpandableArticle Title="CRM Dynamics 365">
    <h2 class="subtitle">
        Dynamics CRM HUDCRM
    </h2>
    <p>
        Custom extension for Google Chrome designed for developers. Utilities for edit records of any entity, count records, execute fetchs, edit webresources, etc etc. Install it from the official <a href="https://chrome.google.com/webstore/detail/dynamics-crm-hudcrm/pcinpdkppfeldjnidecmelncejalmlkh?hl=es" target="_blank">Google Chrome Store</a>
    </p>
</ExpandableArticle>

<ExpandableArticle Title="CRM Dynamics 365">
    <h2 class="subtitle">
        Dynamics CRM Personal Blog
    </h2>
    <p>
        Personal blog about CRM Dynamics writting about tips and trying to help the comunity. <a href="http://dynamicsdd.com/" target="_blank">Visit here</a>
    </p>
</ExpandableArticle>


@code {

}
