<SectionTitle Text="About me" />

<div class="container" style="margin-bottom: 80px">
    <div class="card">
        <div class="card-image">
            <figure class="image is-4by3">
                <img src="images/i.jpeg" alt="Placeholder image">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48">
                        <img src="images/avatar.png" alt="Placeholder image">
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-4">Daniel Díaz Granizo</p>
                    <p class="subtitle is-6">@@ddgranizo</p>
                </div>
            </div>

            <div class="content">
                From <a href="https://www.google.com/search?q=madrid&source=lnms&tbm=isch&sa=X" target="_blank">Madrid</a>.
                Living in <a href="https://www.google.com/search?q=barcelona&source=lnms&tbm=isch&sa=X" target="_blank">Barcelona</a>.
                Passionate about technology and programming. Full stack developer. Mostly focused on .NET but with an open mind to new frameworks.
                Currently working in <a href="https://www.adevinta.com/es/spain/" target="_blank">Adevinta Spain</a> as CRM Engineer.
                <a href="#">#dotnetlover</a> <a href="#">#blazor</a> <a href="#">#aspnet</a> <a href="#">#xamarin</a> <a href="#">#CRM</a> <a href="#">#Dynamics365</a>
                <br>
                <time datetime="1989-2-1">1 Feb 1989</time>
            </div>
        </div>
    </div>
</div>
